body{
  background-color: #5EBCBB;

}
.p{
  color: aliceblue;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.head{
  background-color: #5EBCBB;
  width: 450px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor:pointer;
  margin:0px auto;
  display: inline-block;
  position: relative;
}
.hi{
  text-align: center;
}

.bgMap {
  background-image: url('/public/image/backimg.jpg');
  width: 1250px;
  height: 780px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  /* border: 1px solid red; */
}

.image{
  width: 1000px;
  height: 1000px;
}
.foot{
  height: 150px;
  position:absolute;
  left: 65%;
  top: 70%;
}
.end{
  height: 40px;
  position: absolute;
  left: 1000px;
  top: 700px;
  border: 3px solid white;
}
.end1{
  height: 50px;
}
.intro{
  height: 30px;
  text-align: center;
}
.intro-text{
  height: 55px;
}
.su{
  position: absolute;
  height: 100px;
  left: 38%;
  top: 15%;
}
.ca{
  position: absolute;
  height: 110px;
  left: 37%;
  top: 32%;
}
.ys{
  position: absolute;
  height: 110px;
  left: 40%;
  top: 64% ;
}
.jj{
  position: absolute;
  width: 185px;
  left: 32%;
  top: 85%;
}
.bs{
  position: absolute;
  height: 81px;
  left: 52%;
  top: 58%;
}
.pc{
  position: absolute;
  height: 130px;
  left: 53%;
  top: 19%;
}
.gj{
  height: 120px;
  width: 180px;
  position: absolute;
  top: 39%;
  left: 52%;
}
.jj1{
  height: 120px;
  width: 170px;
  position: absolute;
  top: 48%;
  left: 38%;
}
.sc{
  height: 170px;
  width: 150px;
  position: absolute;
  left: 48%;
}
.logo:hover{
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 1s;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.move{
  transform: translateX(300px);
  animation-duration: 3s;
  width: 100px;
  height: 100px;
}
.minibox{
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 20%;
}

.minibox:hover{
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 1s;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.seoul1{
  left: 80px;
  top: 200px;
}
.seoul2{
  left: 190px;
  top:200px;
}
.seoul3{
  left: 300px;
  top:200px;
}
.cheonan1{
  left: 80px;
  top: 340px;
}
.cheonan2{
  left: 190px;
  top: 340px;
}
.cheonan3{
  left: 300px;
  top: 340px;
}
.yeosu1{
  left: 80px;
  top: 610px;
}
.yeosu2{
  left: 190px;
  top: 610px;
}
.yeosu3{
  left: 300px;
  top: 610px;
}
.jeju1{
  left: 80px;
  top: 750px;
}
.jeju2{
  left: 190px;
  top: 750px;
}
.jeju3{
  left: 300px;
  top: 750px;
}
.busan1{
  left: 840px;
  top: 530px;
}
.busan2{
  left: 950px;
  top: 530px;
}
.busan3{
  left: 1060px;
  top: 530px;
}
.pyeongchang1{
  left: 820px;
  top: 260px;
}
.pyeongchang2{
  left: 930px;
  top: 260px;
}
.pyeongchang3{
  left: 1040px;
  top: 260px;
}
.gyeongju1{
  left: 850px;
  top: 400px;
}
.gyeongju2{
  left: 960px;
  top: 400px;
}
.gyeongju3{
  left: 1070px;
  top: 400px;
}
.jeonju1{
  left: 80px;
  top: 470px;
}
.jeonju2{
  left: 190px;
  top: 470px;
}
.jeonju3{
  left: 300px;
  top: 470px;
}
.sokcho1{
  left: 760px;
  top: 130px;
}
.sokcho2{
  left: 870px;
  top: 130px;
}
.sokcho3{
  left: 980px;
  top: 130px;
}


.move{
  height: 80px;
  width: 80px;
  animation-name: moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@keyframes moving{
  0%{position: absolute; left: 800px; top: 10px;}
  100%{position: absolute; left: -450px; top: 10px;}
}
.se1{
  width: 900px;
  height: 600px;
  display: block;
  margin: auto;
}

.video{
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* height: 700px; */
  /* overflow: hidden; */
  /* margin: 0px auto; */
  /* position: absolute; */
}
h3{
  background-color: #5EBCBB;
  display: inline-block;
}
h6{
  background-color: #5EBCBB;
  display: inline-block;
}
.home{
  margin : 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-right{
  text-align: right;
}
.videoText{
  text-align: center;
  color: white;
  font-size: 33px;
}
.text{
  color: black;
}

.detail{
  width: 100%;
  height: 600px;
}
.yoo{
  color:black;
  text-align: right;
}